@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    display: block;
}

.container {
    min-height: 100%;
    position: relative;
}

a {
    color: #fff;
    font-style: unset;
    text-decoration: none
}

/*ridho*/
.container-content {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to right, #dadcdf, #888c8f);
}

.heading {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card-content {
    display: inline-block;
    width: 45%;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    height: 600px;
    border-radius: 30px;
    background: linear-gradient(to right, #3F3D56, #3F3D56);
}


.card-content:hover {
    background: linear-gradient(to right, #ff0eeb, #f75acf);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.card-header {
    text-align: center;
    height: 10px;
    padding: 20px 10px;
    border-radius: 20px;
    color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.card-body {
    padding: 30px 20px;
    height: 498px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

/* .card-content .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #7ea0bf, #1c3c66);
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
} */

.card-body img {
    width: 80px;
    float: left;
}

.card-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(245, 69, 245, 0.336);
}

/*ridho */

.container-about {
    width: 90%;
    padding-top: 10px;
    margin: 50px auto;
    text-align: center;
}

.about-title {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.cards {
    display: inline-block;
    border-radius: 35px;
    box-shadow: 5px 3px 5px #aaaaaa;
    width: 190px;
    height: 280px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: #3F3D56;
    color: white;
    position: relative;
    animation: mymove 3s infinite;
    background: linear-gradient(to right, #3F3D56, #3F3D56);
}

.cards:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.5s;
    animation-play-state: paused;
}

.cards img {
    width: 120px;
    position: absolute;
    top: 20px;
    left: 33px;
}

.cards h3 {
    font-size: 15px;
    margin-top: 160px;
}

.cards p {
    font-size: 10px;
    margin-top: 3px;
    opacity: 0.7;
}

.instagram img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 220px;
    left: 60px;
}

.github img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 220px;
    left: 100px;
}

#member1 {animation-timing-function: linear;}
#member2 {animation-timing-function: ease;}
#member3 {animation-timing-function: ease-in;}
#member4 {animation-timing-function: ease-out;}
#member5 {animation-timing-function: ease-in-out;}
  
@keyframes mymove {
    from {top: -10px;}
    to {top: 60px;}
    from {top: 60px;}
    to {top: -10px;}
}

footer {
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    height: 30px;
    background-color: #3F3D56;

}

footer p {
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}